@media (max-width: 2560px) {
  body{
    background-size: 1200px;
  }
}

@media (max-width: 2380px) {
  body{
    background-size: 1100px;
  }
}

@media (max-width: 2170px) {
  body{
    background-size: 1000px;
  }
}

@media (max-width: 1960px) {
  body{
    background-size: 900px;
  }
}


@media (max-width: 1700px) {
  body{
    background-size: 800px;
  }
}

@media (max-width: 1550px) {
  body{
    background-size: 750px;
  }
}

@media (max-width: 1440px) {
  body{
    background-size: 700px;
  }
}

@media (max-width: 1330px) {
  body{
    background-size: 650px;
  }
}

@media (max-width: 1220px) {
  body{
    background-size: 600px;
  }
}

@media (max-width: 1100px) {
  body{
    background-position: -100px;
  }
}