/* Components */ 
@import './variaveis.scss';
@import './bootstrap.scss';
@import './header.scss';
@import './buttons.scss';
@import './main.scss';
@import './footer.scss';
@import './responsive-background.scss';
@import './responsive-elements.scss';


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700;900&display=swap');
