$color-primaria: #3399cc;
$color-secundaria: #333366;
$color-tercearia: #ff6633;
$color-quaternaria: #b1f4ff;
$color-branco: #fff;

$font-h1: 70px;
$font-h2: 30px;

$social-media-icons: 30px;

$btn-radius: 20px;